*{
  font-family: serif;
  }
.tittle{
color:#ae6338;
font-family: serif;
font-size: 30 px;
font-style: italic, bold;
position: left;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }
  
 
   html {
    background-color: rgb(69,74,68);
    background-image: url(o.jpg);
    background-repeat: no-repeat;
    background-position: center bottom left;
    background-attachment: fixed;
    }

/* Ahora podemos cambiar solo la propiedad background-image */
@media (min-width: 480px) {
    body {
        background-image: url("background-480w.png");
    }
}
@media (min-width: 768px) {
    body {
        background-image: url("background-768w.png");
    }
}
@media (min-width: 1200px) {
    body {
        background-image: url("background-1200w.png");
    }
}

  
  [tabindex="-1"]:focus {
    outline: 0 !important;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

.menua{
display: inline-block;
border-block:2%;
border-block-color: black;
border-inline-style: inherit;
padding: left 1%; right: 1%; top: 1%; bottom: 1%;
color: black;
font: bold;
position: relative;
border-radius: 12%;
list-style: none;
margin: 2%;
background-color: #ae6338;
border: black, solid;
border-collapse: collapse;
}

hover{
color: black;
text-decoration-style: none;

   
}
#catalogo{
  font-family: serif;
  font: italic;
  color: black;
  }

  a{
  text-decoration-style: none;
  color: black;
}

#articulo{
  text-justify: newspaper;
  text-align: left;
  float: left;
  margin-left: 2%;
  
}
#mas{
  text-decoration-color: crimson;
  text-decoration-style: dotted;
  color:crimson;
  font-style: oblique;
}

div{
  border-style: solid, black;

}
hr{
  border-block-color: black;
  height: 1px;
}
#costado{
  width: 30%;
       background:#D4C2B8;
        float:right;
        padding: 20px;
        box-sizing: border-box;
}
